name: Wanted Scraper Run

on:
  schedule:
    - cron: '0 1 * * *' # 매일 아침 10시 (UTC 01:00)
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    
    steps:
      - name: 코드 체크아웃
        uses: actions/checkout@v3

      - name: 파이썬 설정
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: 라이브러리 설치
        run: |
          pip install -r requirements.txt

      - name: 원티드 크롤러 실행
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: |
          python wanted_scraper.py
